nav{
    @include color-scheme($scheme-rosabb...) ;
    color: black;
     
    ul{
        background-color: transparent;
        color: black;
       
        li{
            background-color: transparent;
       // @include color-scheme($scheme-rosabb ...);
        text-decoration-color: $color-loquis;
        border-radius: 5px;
        color: black;

        a{
        //   @include color-scheme($scheme-rosabb ...);
        text-decoration-color: $color-loquis;
        border-radius: 5px;
        color: black;

        }:hover{
            @include color-scheme($scheme-pastel ...);
            color: black;
        }
       
    }
}}

.nav-link{
    color: black;
}
    


